#### DATABASE PARAMETERS
# Use following with sqlite
DATABASE_FORMAT="sqlite"
DATABASE_STORE = '../app.sqlite'
# Use following with postgresql
#DATABASE_FORMAT="postgresql"
#DATABASE_HOST="localhost"
#DATABASE_PORT=5432
#DATABASE_USER="mysql"
#DATABASE_PASSWORD="mysql"
DATABASE_NAME="myDb"
###################################
# DO NOT use Unsecure Secrets in production environments
# Generate a safe one with:
#     python -c "import os; print repr(os.urandom(24));"
TOKEN = 'This is an UNSECURE Secret. CHANGE THIS for production environments.'
# secrets.SystemRandom().getrandbits(128)
SECURITY_PASSWORD_SALT = ''
MODE='Develop'
REGISTRATION_CLOSED=0
# For smtp.gmail.com to work, you MUST set "Allow less secure apps" to ON in Google Accounts.
# Change it in https://myaccount.google.com/security#connectedapps (near the bottom).
MAIL_SERVER='smtp.gmail.com'
MAIL_PORT=587
MAIL_USE_SSL=False
MAIL_USE_TLS=True
MAIL_USERNAME='yourname@gmail.com'
MAIL_PASSWORD='password'
# Celery config
CELERY_REDIS_USE_SSL=False
CELERY_BROKER_URL = "pyamqp://guest@127.0.0.1//"
CELERY_BACKEND_URL = "redis://127.0.0.1"
#OAuth
TWITTER_CLIENT_ID=''
TWITTER_CLIENT_SECRET=''
TWITTER_REQUEST_TOKEN_URL=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REQUEST_TOKEN_URL=''