[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
celery = "*"
sqlalchemy = "*"
pymysql = "*"
redis = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-User = {git = "https://github.com/lingthio/Flask-User.git",ref = "master"}
Flask_Cors = "*"
pytest = "*"
pytest-cov = "*"
attrs = "*"
feedparser = "*"
requests = "*"
dash = "*"
environs = "*"
dash-bootstrap-components = "*"
bootstrap-flask = "*"
numpy = "*"

[requires]
python_version = "3.10"
