[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
celery = "*"
sqlalchemy = "*"
pymysql = "*"
redis = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Security-Too = "*"
Flask-Principal = "*"
Flask_Cors = "*"
Flask-Mail = "*"
Flask-Admin = "*"
pytest = "*"
pytest-cov = "*"
attrs = "*"
feedparser = "*"
requests = "*"
dash = "*"
environs = "*"
dash-bootstrap-components = "*"
bootstrap-flask = "*"
numpy = "*"
bleach = "*"
beautifulsoup4 = "*"
authlib = "*"
bcrypt = "*"
coverage = "*"
gunicorn = "*"
flower = "*"
gevent = "*"
debugpy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.10"
