#### DATABASE PARAMETERS
DATABASE_FORMAT="postgresql"
DATABASE_HOST="webapp-postgres"
DATABASE_PORT=5432
DATABASE_USER="testusr"
POSTGRES_USER="testusr"
DATABASE_PASSWORD="myspasswordql"
POSTGRES_PASSWORD="password"
DATABASE_NAME="testdb"
POSTGRES_DB="testdb"

APP_RUN_ENV='DOCKER'
MODE='Develop'


###################################
# DO NOT use Unsecure Secrets in production environments
# Generate a safe one with:
#     python -c "import os; print repr(os.urandom(24));"
TOKEN = 'This is an UNSECURE Secret. CHANGE THIS for production environments.'
SECURITY_PASSWORD_SALT = '324721453216654201112345789210212457852'

REGISTRATION_CLOSED=0
# For smtp.gmail.com to work, you MUST set "Allow less secure apps" to ON in Google Accounts.
# Change it in https://myaccount.google.com/security#connectedapps (near the bottom).
MAIL_SERVER='mysmtpserver'
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USE_TLS=False
MAIL_USERNAME='smtpuser'
MAIL_PASSWORD='smtppassword'
MAIL_DEFAULT_SENDER='default@mail.com'
SECURITY_EMAIL_SENDER='security@mail.com'
ADMINS='mymail@mail.com'
# Celery config
CELERY_REDIS_USE_SSL=False
CELERY_BROKER_URL='amqp://admin:password@rabbitmq:5672'
CELERY_RESULT_BACKEND='redis://redis:6379/0'
#OAuth
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REQUEST_TOKEN_URL='https://accounts.google.com/o/oauth2/v2/auth'
GOOGLE_AUTH_URL='https://accounts.google.com/o/oauth2/v2/auth'