{% extends "core/base.html" %} 

{% from "core/form_macros.html" import render_field, render_submit_field %}
 
{% block content %}
 
<div class="row">
  <div class="col-sm-6">
    <h2>User Profile</h2>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          Email Address
        </div>
        <div class="card-body">
          <p class="card-text">{{current_user.email}}</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          Account Actions
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#">Change Email (not implemented)</a></li>
          {% if current_user.password != none %}
          <li class="list-group-item"> <a href="{{ url_for('security.change_password') }}">Change Password</a></li>
          {% else %}
          <li class="list-group-item">To set a password, logout and click forgot password</li>
          {% endif %}
          {% if not current_user.active %}
          <li class="list-group-item"><a href="{{ url_for('security.send_confirmation') }}">Resend Email Confirmation</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          Statistics
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Member since: {{ current_user.registered_on.strftime("%A %B %d, %Y at %H:%M:%S") }}</li>
          {% if current_user.last_login_at != none %}
          <li class="list-group-item">Last Logged In: {{ current_user.last_login_at.strftime("%A %B %d, %Y at %H:%M:%S") }}</li>
          {% else %}
          <li class="list-group-item">First time logged in. Welcome!</li>
          {% endif %}
          {% if current_user.active %}
          <li class="list-group-item">Email confirmed on: {{ current_user.confirmed_at.strftime("%A %B %d, %Y at %H:%M:%S") }}</li>
          {% else %}
          <li class="list-group-item">Email has not been confirmed!</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}